body {
	background-color: black;
}

html,body,.container-fluid {
	height: 100%;
}

.parent-element {
	height: 100%;
	display: flex;
	resize: vertical;
	flex-direction: column;
	justify-content: center;
}

