#videoPanel{
    position: relative;
    width: 100%;
}

#me{
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
}

#me video{
    display: inline-block;
    width: 30%;
    z-index: 1;
    /*right: 5%;*/
    /*bottom: 5%;*/
    border: 1px solid white;
}

#you video{
    width: 100%;
    background-position: center;
}

/*portrait mobile*/
@media(max-width: 480px){

    #me{
        position: absolute;        
    }

    
    
}